[submodule "authoring-services"]
	path = authoring-services
	url = https://github.com/shishir84/authoring-services.git
[submodule "src/authoring-services"]
	path = src/authoring-services
	url = https://github.com/shishir84/authoring-services.git
